@using IaEapp.DTO
@model TransactionDTO

<h4>Vytvoření transakce</h4>
<form asp-action="Create">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<label asp-for="Description"></label>
		<input type="text" asp-for="Description" class="form-control" />
		<span asp-validation-for="Description" class="invalid-feedback d-block"></span>

		<label asp-for="Amount"></label>
		<input type="number" asp-for="Amount" class="form-control" />
		<span asp-validation-for="Amount" class="invalid-feedback d-block"></span>

		<label asp-for="TransactionCategoryId" ></label>
		<select class="form-control" asp-for="TransactionCategoryId" asp-items="@ViewData["Categories"] as SelectList"></select>
		<span asp-validation-for="TransactionCategoryId" class="invalid-feedback d-block"></span>

	</div>
	<input class="btn btn-success" type="submit" value="Create" />
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}