@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}
<h1>Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
	<input type="hidden" asp-for="ReturnUrl" />
	<div>
		<label asp-for="Email">E-mail</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div>
		<label asp-for="Password">Heslo</label>
		<input asp-for="Password" class="form-control" type="password" />
	</div>
	<div>
		Zapamatovat si? <input type="checkbox" asp-for="Remember" />
	</div>
	<button class="btn btn-primary" type="submit">Přihlásit</button>
</form> 