@using IaEapp.DTO
@model IEnumerable<TransactionCategoryDTO>


@foreach (var item in Model) {
    <div class="border border-1 border-dark p-2 ">
        <h5>@item.Name</h5>
        Id: @item.Id
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        @* <form method="post">  *@
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        @* </form>  *@
    </div>
}


<hr />
<div>
    <a class="btn btn-success" asp-action="Create">Create</a>
</div> 